include *.py
include *.txt
exclude *.yaml
exclude *.toml
exclude *.lightning
exclude *.lightningignore

recursive-include examples *
recursive-include lightning_hpo *
recursive-include requirements *

recursive-exclude tests *.py
recursive-exclude * *.pyc
