include *.py
include *.txt
exclude *.yaml
exclude *.toml
exclude *.coveragerc
exclude *.lightning
exclude *.lightningignore
exclude *.json
exclude tests/commands/experiment/test_requirements

recursive-include sweep_examples *
recursive-include lightning_hpo *
recursive-include requirements *

recursive-exclude docs *
recursive-exclude tests *.py
recursive-exclude tests *.feature
recursive-exclude * *.pyc
recursive-exclude * *.json
