jsonargparse[signatures]
pytorch_lightning
git+https://github.com/Lightning-AI/lightning.git@bbf57249f5aaac1664304194dc97f8349cdc4ef8
lightning-jupyter
torchvision
optuna
sqlmodel
wandb
streamlit
sqlalchemy
hiplot
scikit-learn
sqlite_web
hydra-core
tensorboard
