pytorch_lightning
jsonargparse[signatures]
git+https://github.com/Lightning-AI/lightning.git@master  # TODO: replace with lightning once 0.6.0 is released
https://github.com/Lightning-AI/LAI-Jupyter-Component.git@main   # TODO: replace with lightning-notebook once released.
lightning_cloud
torchvision
optuna
sqlmodel
wandb
streamlit
sqlalchemy
hiplot
streamlit_autorefresh
lightning  # TODO: remove this dependency. (added only for CI)
sklearn
sqlmodel
sqlite_web
Flask
Flask-Cors
